@model IEnumerable<ShapeApp.Models.MensagensHome>

@{
    ViewData["Title"] = "Edição Mensagens";
}

<h1>Gerenciar mensagens cadastradas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TituloMensagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mensagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TituloMensagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mensagem)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Visualizar</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
