@model ShapeApp.Models.Treino

@{
    ViewData["Title"] = "Index";
    var Exericios = ViewBag.Exercicios as IEnumerable<Exercicio>;
}

<h1>Lista de Exercícios</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
               Series
            </th>
            <th>
                Repetições
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Exericios)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Series)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Repeticoes)
                </td>
                <td>
                    <a asp-action="VincularExercicio" class="btn btn-success" asp-route-id="@Model.Id" asp-route-exercicioId="@item.Id">Adicionar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
