@model ShapeApp.Models.DadosCadastro

@{
    ViewData["Title"] = "Detalhes do usuario";
}

<h1>Detalhes do usuario</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Perfil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Perfil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PerfilShape.Idade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PerfilShape.Idade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PerfilShape.Altura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PerfilShape.Altura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PerfilShape.Peso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PerfilShape.Peso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PerfilShape.Nivel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PerfilShape.Nivel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-info">Voltar</a>
</div>
